.header_container img , .header_container nav{
    display: inline-block;
    vertical-align: middle;
 }
 nav{ 
    margin-left: 80%;
 }
 .header_container{
    background-color: #CDB0A1;
    padding: 10px;
    border-radius: 8px;
    border: 3px solid #A78C9B;
}
.footer_container ul , .footer_container img{
    display: inline-block;
    vertical-align: middle;
 }
 .footer_container{
    background-color:#CDB0A1 ;
    border-radius: 8px;
    border: 3px solid #A78C9B;
    
}
ul{
    margin-left: 40%;
    
    }
h1{
    color: #80586D;
    
    }
#img1{
    border-radius: 80%;
    width: 250px;
    height: 250px;
    
    }
    #img2{
    border-radius: 80%;
    width: 250px;
    height: 250px;
    
    }
   #table{
   border-style: solid;
   border-color: transparent;
   margin-left: 25%;
    }
    td{
    text-align: center;
    
    }
    #premium{
    width: 200px;
    height: 200px;
    }
    #delivery{
    width: 200px;
    height: 200px;
    }
    #help-desk{
    width: 200px;
    height: 200px;
    }
    #tbl{
    
   border-style: solid;
   border-color: transparent;
    }
.gg{
    width: 100%;
    height: 300px;
    margin: 2px;

    }
.gg img{
    
   width: 100%;
   height:100% ;
   border-radius: 8px;
   border: 1px solid transparent;

    }
    